
/* ****** */
/* Header */
/* ****** */
.header a {
  color: black;
  text-decoration: none;
}
.bannerrow {
  background-image: url("../img/pexels-photo-191429_1.jpeg");
  background-size: cover;
  height: 5em;
  justify-content: center;
}
h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 4vw;
}

.header_companyname {
  display: flex;
  height: 100%;
}
.header_companyname img {
  width: 50px;
  height: 50px;
}
.header_companyname a {
  display: inline-block;
  align-self: flex-end;
  font-size: 2rem;
}
.header_companyname_text1 {
    background-color: white;
    border-radius: 10px;
    padding: 0 10px;
    opacity: 0.8;
}
.header_companyname_text2 {
  font-weight: bold;
  opacity: 1;
}

/* **** */
/* Menu */
/* **** */
.menurow {
  background-color: red;
  height: 2em;
  align-items: center;
}
.menurow ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  float: left;
  position: relative;
  text-transform: uppercase;
  align-items: center;
}
.menurow ul li a {
  height: auto;
  display: block;
  background-color: var(--grey-dark);
  color: white;
  text-decoration: none;
  padding-right: 25px;
  text-align: left;
  transition: all 0.3s ease;
  font-size: 1em;
}
.menurow ul li a:hover {
  color: gray;
}
.menurow h2 {
  font-size: 1rem;
}
.menumarked a {
  color: gray !important;
  text-shadow: 1px 2px 0 black !important;
}

/* ************** */
/* printshop form */
/* ************** */
.radio_format {
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  margin: 0;
}
/* ******* */
/* general */
/* ******* */
.maxWidth {
  max-width: 1024px;
}
.wrapper {
  background-color: lightgray;
   /* var(--light); */
  border-radius: 10px;
  padding: 2em;
}

.center {
  text-align: center;
  padding: 20px;
}

.valide {
  border-color: lightgreen !important;
}

.in-valide {
  background-color: red;
}

.bar {
  height: 18px;
  background: green;
}

.error_message {
  color: white !important;
  background-color: lightcoral;
  font-size: 0.5em;
  border-radius: .25rem;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.direction {
  /* down */
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */
/* Progressbar */
.progressBar {
	/* background: none repeat scroll 0 0 #E0E0E0; */
	left: 0;
	padding: 3px 0;
	position: absolute;
	top: 50%;
	width: 100%;
	display: none;
}
.progressBar .bar {
	background-color: green;
  border-radius: 10px;
	width: 0%;
	height: 20px;
}
.progressBar .percent {
	display: inline-block;
	left: 0;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 100%;
}
/* https://benmarshall.me/styling-file-inputs/ */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 576px) {
  .direction {
    /* right */
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    margin-bottom: 4em;
  }

  .header_companyname img {
    width: 100px;
    height: 100px;
  }
  .header_companyname a {
    font-size: 3rem;
  }

  .bannerrow {
    height: 15em;
  }

  .menurow {
    height: 6em;
  }
  .menurow ul li a {
    font-size: 1.5em;
  }
  .menurow h2 {
    font-size: 2rem;
  }

}
